/* -------- NAVBAR -------- */
.navbar {
  background: #8a4f2e;
  padding: 12px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.navbar button {
  background: #f4e9d8;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  color: #6a3b22;
  font-weight: bold;
  transition: 0.2s;
}

.navbar button:hover {
  background: #fff3d4;
  transform: scale(1.08);
}

/* -------- HOME -------- */
.home-container  {
  text-align: center;
}

.hero {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  background-size: cover;
  background-position: center;
  padding: 80px 20px;
  border-radius: 12px;
  color: white;
  margin-bottom: 30px;
}

.hero h1 {
  font-size: 36px;
}

.hero p {
  font-size: 18px;
}

/* -------- MENÚ -------- */
.seccion ul li {
  background: #fff8ef;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  border-left: 5px solid #bc6c25;
}

/* -------- NOSOTROS -------- */
.seccion p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 18px;
}

/* -------- CONTACTO -------- */
.seccion p {
  font-size: 18px;
  margin: 8px 0;
}


