body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li {
  color: #dd4747;
  justify-content: center;
  text-align: center;
  list-style: none;
  display: inline-block;
  padding-left: 200px;
  padding-right: 200px;
}

li :hover {
  background-color: #dd4747;
  padding: 10px;
  transition: 0.5s ;
}

a {
  text-decoration: none;
  color: black;
  border-radius: 10px;
}

a :hover {
  background-color: red;
  color: white;
  padding: 10px;
  transition: 0.5s ;
}